[submodule "ws1819/bildverarbeitung"]
	path = ws1819/bildverarbeitung
	url = https://github.com/Dreyri/bildverarbeitung.git
[submodule "ws1819/kryptologie"]
	path = ws1819/kryptologie
	url = https://github.com/Dreyri/kryptologie.git
[submodule "ws1819/sw_ergonomie"]
	path = ws1819/sw_ergonomie
	url = https://github.com/Dreyri/sw_ergonomie.git
[submodule "ws1819/dbwt"]
	path = ws1819/dbwt
	url = https://github.com/Dreyri/dbwt.git
[submodule "ws1819/vrar"]
	path = ws1819/vrar
	url = https://github.com/Dreyri/vrar.git
